@font-face {
    font-family: "Saira";
    src: url("./../../public/font/Saira/Saira-Regular.ttf");
};
@font-face {
    font-family: "Saira Condensed";
    src: url("./../../public/font/Saira_Condensed/SairaCondensed-Regular.ttf");
};
@font-face {
    font-family: "Yeon";
    src: url("./../../public/font/Yeon_Sung/YeonSung-Regular.ttf");
};
@font-face {
    font-family: "Homemade";
    src: url("./../../public/font/Homemade_Apple/HomemadeApple-Regular.ttf");
};
@font-face {
    font-family: "NothingYou";
    src: url("./../../public/font/Nothing_You_Could_Do/NothingYouCouldDo-Regular.ttf");
};
@font-face {
    font-family: "Saira Stencil";
    src: url("./../../public/font/Saira_Stencil_One/SairaStencilOne-Regular.ttf");
};