@font-face {
    font-family: "Saira";
    src: url("./../../public/font/Saira/Saira-Regular.ttf");
};
@font-face {
    font-family: "Saira Condensed";
    src: url("./../../public/font/Saira_Condensed/SairaCondensed-Regular.ttf");
};